:root,
[data-amplify-theme] {
  --amplify-green: hsl(130, 43%, 46%);
}

#app {
  margin: 2% 2%;
}

.main-card {
  max-height: 40%;
}

#header {
  background: var(--amplify-green);
  height: 60px;
  text-align: center;
}

form {
  margin: 1% 27%;
  text-align: left;
}

/* section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
} */

.button {
  width: 100px;
}